.backdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 300px;

    background: white;
    padding: 16px;
    border-radius: 8px;
  }

  p {
    background: wheat;
    border-radius: 4px;
    padding: 8px;
  }
}
